<li>
    {{name}}

    <button class="change-eat"
    data-id="{{id}}"
    data-neweat="{{eat}}">
        {{#if eat}}Eat it?{{else}}Nah{{/if}}
    </button>
    <button class="delete-burger"
    data-id="{{this.id}}">Bye, Burger</button>
</li>